<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar | Visitas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="src/main/resources/static/js/script.js"></script>
</head>
<body>
<header th:include="~{../static/html/header}"></header>
<section class="container col-6">
    <table class="Table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Observaciones</th>
            <th class="text-center">Medico</th>
            <th>Ficha Médica</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="visita: ${visitas}">
            <td th:text="${visita.id}" class="col-1">></td>
            <td th:text="${visita.observaciones}" class="col-4"></td>
            <td th:text="${medicos.get(visita.getMedico().getId()).getNombres()}" class="col-3 text-center"></td>
            <td th:text="${visita.fichaMedica.getId()}" class="col-1"></td>
            <td class="col-1"><form th:action="@{/visita/editar/{id}(id=${visita.id})}"
                                    method="get">
                <button class="btn btn-warning" type="submit">Editar</button>
            </form></td>
            <td class="col-1"><form th:action="@{/visita/eliminar/{id}(id=${visita.id})}"
                                    method="post" onsubmit="return confirm('¿Estás seguro de que quieres eliminar la visita?')">
                <button class="btn btn-danger" type="submit">Eliminar</button>
            </form></td>
        </tr>
        </tbody>
    </table>

</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>